/* Establece reglas para todos los elementos del documento */
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand'; /* Establece la fuente para todo el documento */
}

html {
    scroll-behavior: smooth; /* Añade un desplazamiento suave al hacer clic en enlaces internos */
}

/* SECCION INICIO */
#inicio {
    height: 100vh; /* Establece la altura al 100% del viewport */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}

#inicio header .contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}

#inicio header .contenido-header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#inicio header .contenido-header nav ul {
    display: flex;
    list-style: none;
}

#inicio header .contenido-header .logo {
    color: #ff8f46;
    font-size: 22px;
}

#inicio header .contenido-header nav ul li {
    text-align: center;
}

#inicio header .contenido-header nav ul li i {
    display: block;
    color: #a8a8a8;
    margin-bottom: 10px;
}

#inicio header .contenido-header nav ul li a {
    display: block;
    text-decoration: none;
    color: #a8a8a8;
    margin: 0px 20px;
}

#inicio header .contenido-header nav ul li:hover i {
    color: #ff8f46;
}

#inicio header .contenido-header .social a {
    display: inline-block;
    background-color: #ff8f46;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

#inicio header .contenido-header .social > i {
    display: inline-block;
    color: #a8a8a8;
    margin-left: 10px;
}

.nav-responsive {
    display: none;
    font-size: 25px;
    color: #a8a8a8;
}

/* Carrusel */
#inicio .carrusel {
    position: relative;
    height: 100%;
}

#inicio .carrusel .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    color: #ffffff;
}

#inicio .carrusel .info h2 {
    font-size: 70px; /* Aumenta el tamaño del texto */
    margin-bottom: 20px;
}

#inicio .carrusel .info button {
    display: inline-block;
    margin-top: 30px;
    font-size: 50px;
    border: none;
    background-color: #f1a239;
    color: #ffffff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

#inicio .gallery {
    width: 100%;
    height: 100%;
}

#inicio .gallery-cell {
    width: 100%;
    margin-right: 10px;
    height: 100%;
}

#inicio .gallery-cell img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* SECCION COMIDAS */
#Comidas {
    padding: 50px 0;
}

#Comidas h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px; /* Aumenta el tamaño del título */
}

#Comidas .fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

#Comidas .fila .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 5px;
}

#Comidas .fila .item .card {
    width: 18rem;
    transition: transform 0.2s;
}

#Comidas .fila .item .card:hover {
    transform: scale(1.05);
}

#Comidas .fila .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#Comidas .fila .item .card-body {
    text-align: center;
}

/* Estilos para los botones dentro de las tarjetas */
#Comidas button, #Comidas .btn-primary {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Comidas button:hover, #Comidas .btn-primary:hover {
    background-color: #ff8f46;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .derechos {
    margin: 0;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 1070px) {
    #inicio header .contenido-header .social {
        display: none;
    }
    #inicio header .contenido-header nav {
        position: static;
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px) {
    #sabores .fila {
        display: block;
    }
    #inicio header .contenido-header nav {
        position: initial;
        display: none;
        transform: translate(0);
    }
    .nav-responsive {
        display: block;
    }
    #inicio header .contenido-header {
        padding: 20px;
    }
}
